#currentTime{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color:green;
}

.newTrainForm{
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
   
}

.formContainer{
    display: grid;
    justify-items: center;
}

#newTrainSubmit{
    justify-self: center;
}